.collective-visit__section h1 {
    word-break: break-all;
    padding-left: 20px;
}
.collective-visit__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-bottom: 50px;
}
.collective-visit__swiper {
    width: 100%;
}
.description-list {
    padding: 0px 20px;
    margin: 0;
}
.description-list__item {
    text-align: center;
    border-radius: 20px;
    background-color: var(--background-opacity);
    margin: 20px 0;
    padding: 20px;
}
.collective-visit__text {
    text-align: left;
}
.record-collective-visit {
    font-size: 30px;
}
.collective-visit__swiper {
    grid-column: 2/3;
    height: 100%;
}
.collective-visit__image {
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0.8;
}
.collective-visit__swiper-container {
    position: relative;
    display: flex;
    align-items: flex-end;
}
.collective-visit__arrow-back {
    cursor: pointer;
    position: absolute;
    left: 0%;
    bottom: 15%;
    z-index: 10;
}
.collective-visit__arrow-next {
    cursor: pointer;
    position: absolute;
    right: 0%;
    bottom: 15%;
    z-index: 10;
}
.collective-visit__arrow-back:active path,
.collective-visit__arrow-next:active path{
    stroke: var(--additionaly-background);
}
@media (max-width: 767px) {
    .collective-visit__wrapper {
        grid-template-columns: 1fr;
    }
    .collective-visit__swiper {
        grid-column: 1;
    }
    .collective-visit__arrow-back {
        left: 2%;
    }
}