.login__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.login__form h1 {
    min-width: 276px;
    text-align: center;
}
.input {
    font-size: var(--large-text);
}
.buy-ticket.login__button {
    width: 100%;
    font-size: var(--large-text);
}