.actor {
    display: flex;
    flex-direction: column;
}
.actor__name {
    padding-left: 20px;
    word-break: break-all;
}
.actor__biografy {
    padding-bottom: 15px;
}
.starring-title {
    padding-left: 20px;
}
.starring-list .performance-list {
    grid-template-columns: repeat(4, 1fr);
} 
.achievement-list {
    padding: 0px 20px;
}
.achievement-list__item {
    padding: 2px 0px;
}
.starring-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 10px 0px;
}
.starring-list_item {
    background-color: var(--background-opacity);
    padding: 20px 20px;
    margin: 10px 10px;
    border-radius: 20px;
}
.starring-list_item:hover {
    outline: 1px solid var(--border-color);
}
.actor__swiper-container {
    position: relative;
    min-height: 500px;
    display: flex;
    align-items: flex-end;
}
.actor__swiper {
    width: 100%;
    min-height: 500px;
}
.actor__image {
    width: 100%;
    height: 73vh;
    opacity: 0.8;
}
.actors__fcs {
    padding: 10px 0px;
}
.actor__arrow-back {
    cursor: pointer;
    position: absolute;
    left: 1%;
    bottom: 15%;
    z-index: 10;
}
.actor__arrow-next {
    cursor: pointer;
    position: absolute;
    right: 1%;
    bottom: 15%;
    z-index: 10;
}
@media (max-width: 1409px) {
    .actor__image {
        height: 70vh;
    }
}
@media (max-width: 1190px) {
    .actor__image {
        height: 75vh;
    }
}
@media (max-width: 1025px) {
    .actor__image {
        height: 78vh;
    }
}
@media (max-width: 768px) {
    .actor__image {
        height: 80.5vh;
    }
}
@media (max-width: 367px) {
    .actor__image {
        height: 77vh;
    }
}
@media (max-width: 800px) {
    .starring-list .performance-list {
        grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
    }
}
