.greetings {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding-bottom: 20px;
}
.greetings__title {
    padding: 0px 20px;
}
.greetings__text {
    padding: 20px 20px;
    font-size: var( --second-medium-text);
    align-self: start;
}
.greetings__image {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 100%;
}
.topic-list-swiper {
    justify-self: start;
    width: 100%;
    grid-column: 1/3;
}
.topic-list {
    display: flex;
    padding: 0;
}
.topic-list__item {
    background-color: var(--background-opacity);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    padding: 20px;
    font-size: var(--second-medium-text);
    text-align: center;
    cursor: pointer;
    opacity: 1;
}
.topic-list__item:hover,
.topic-list__item.active-topic{
    opacity: 0.5;
}
.review-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: flex-start;
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px 20px;
    margin-bottom: 60px;
}
.review-list {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 10px;
    padding: 0;
    align-items: stretch; 
}
.review-list__item {
    display: grid;
    align-items: center;
    grid-template-rows: auto auto 1fr auto;
    grid-auto-rows: min-content;
    border-radius: 20px;
    background-color: var(--background-opacity);
    padding: 10px;
    opacity: 1;
}
.invisible {
    opacity: 0;
    transform: scale(0.0);
    visibility: collapse;
}
.visible {
    opacity: 1;
    transform: scale(1);
}
.name,
.date {
    font-size: var(--topic-name-date-text);
}
.topic {
    grid-row: 1/3;
    grid-column: 2/3;
    text-align: center;
    align-self: start;
    background-color: var(--additionaly-background);
    font-size: var( --topic-title-text);
    border-radius: 20px;
    padding: 10px;
}
.review-rating {
    grid-row: 3;
    grid-column: 1/3;
    margin: 5px 0px;
    font-size: var(--medium-text);
    line-height: var(--medium-text);
}
.active-star {
    color: var(--button-background);
}
.text {
    padding: 10px 0px;
    grid-row: 4;
    grid-column: 1/3;
    align-self: start;
}
.feedback {
    grid-row: 5;
    grid-column: 1;
    display: flex;
    gap: 10px;
}
.feedback__like {
    cursor: pointer;
    justify-self: end;
}
.feedback__counter {
    font-size: var(--second-medium-text);  
}
.feedback__like.liked {
    opacity: 0.4;
}
.write-review {
    display: flex;
    flex-direction: column;
}
*::placeholder {
    color: #ffffff;
}
#name {
    margin: 10px 0px;
    padding: 5px 0px;
    border: none;
    background-color: var(--main-background);
    color: #ffffff;
    border-bottom: 2px solid var(--border-color);
    font-size: var(--medium-text);
}
#name:focus {
    outline: none;
}
.review-container {
  width: 100%;
  margin: 0px;
  text-align: left;
}
.star-form {
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    gap: 5px;
}
.star-form input { 
    display: none; 
}
.star-form label{
    display: block;
    color: #aaaaaa;
    font-size: var(--large-text);
    line-height: var(--large-text);
    cursor: pointer;
}
.star-form  input:checked ~ label,
.star-form  label:hover,
.star-form  label:hover ~ label {
    color: var(--button-background);
}
#topicData {
    margin: 10px 0px;
    padding: 10px 0px;
    background-color: var(--main-background);
    font-size: var(--medium-text);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    color: #ffffff;
    min-width: 0;
}
#review {
    margin: 10px 0px;
    padding: 10px;
    background-color: var(--main-background);
    font-size: var(--medium-text);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    color: #ffffff;
    resize: none;
    width: calc(100% - 20px);
}
#review:focus {
    background-color: var(--background-opacity);
}
.modal {
    position: fixed;
    inset: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.6);
    z-index: 1000;
    cursor: pointer;
}

.modal.active {
    display: flex;
}

.modal__content {
    background-color: var(--main-background);
    color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    max-width: 450px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    cursor: default;
}

.modal__content p{
    margin: 10px 0px;
}

.modal__content h2 {
    margin: 10px 0px;
}

@media (max-width: 1023px) {
    .review-wrapper {
        grid-template-columns: 1fr;
    }
    #topicData {
        width: 100%;
    }
    .write-review {
        grid-row: 1;
        padding-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .greetings {
        grid-template-columns: 1fr;
    }
    .greetings__image {
        display: none;
    }
    .review-list {
        grid-template-columns: 1fr;
    }    
}