:root {
    --main-background: #E8F6F9;
    --additionaly-background: #CFB093;
    --button-background:  #54A9A4;
    --border-color: #C5D9DC;
    --background-opacity: #F3FCFD;
    --dark-bg: #101820;
    --dark-card: #17242B;
    --dark-text: #F1F7F8;
    --dark-border: #33464D;
}
body.a11y-scheme-dark {
    --main-background: #101820;
    --additionaly-background: #B08A5E;
    --button-background: #54A9A4;
    --border-color: #33464D;
    --background-opacity: #17242B;
    --dark-bg: #101820;
    --dark-card: #B08A5E;
    --dark-text: #F1F7F8;
    --dark-border: #33464D;
    color: #ffffff;
}
body.a11y-scheme-dark .unique-header a.under-line-link,
body.a11y-scheme-dark .unique-header .visually-impaired,
body.a11y-scheme-dark .unique-header p {
    color: #ffffff ;
}

body.a11y-scheme-light {
    --main-background: #FFFFFF;
    --additionaly-background: #E8D5BE;
    --button-background: #54A9A4;
    --border-color: #E0E0E0;
    --background-opacity: #FAFAFA;
    --dark-bg: #FFFFFF;
    --dark-card: #E8D5BE;
    --dark-text: #1A1A1A;
    --dark-border: #E0E0E0;
}
::-webkit-scrollbar {
    background-color: var(--main-background);
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--button-background);
    border-radius: 400px;
    background-clip: padding-box;
}
::-webkit-scrollbar-track {
    background-color: var(--main-background);
}

body.disable-scroll {
    overflow: hidden;
    padding-right: 10px;
}
.hidden {
    display: none;
}
.hidden-text {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}
.buy-ticket {
    background-color: var(--button-background);
    height: 60px;
    width: 180px;
    padding: 5px 10px;
    font-size: var(--buy-ticket-text);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
}
.buy-ticket:hover {
    background-color: var(--additionaly-background);
}
[class*="__arrow-back"] .hover-circle,
[class*="__arrow-next"] .hover-circle {
    stroke: var(--button-background);

    stroke-dasharray: 63; 

    stroke-dashoffset: 63; 

    transform-origin: 12px 12px;
    transform: rotate(-90deg);

    transition: stroke-dashoffset 0.4s ease-in-out;
}

[class*="__arrow-back"]:hover .hover-circle,
[class*="__arrow-next"]:hover .hover-circle {
    stroke-dashoffset: 0;
}
[class*="__arrow-back"]:active path,
[class*="__arrow-next"]:active path{
    stroke: var(--button-background);
}
@font-face {
    font-family: 'PT-Sans';
    src: url('../font/pt-sans-cyrillic-400-normal.woff2') format('woff2');
}
.wave {
    background-image: url("../svg/wave.svg");
    background-size: contain;
    
    min-width: 0;
}
@media (max-width: 375px) {
    .wave {
        background-repeat: no-repeat;
    }
}