@media (min-width: 769px) {
    h1.wave {
        --h: 48px;
        --w: 130px;
    }
    h2.wave {
        --h: 38px;
        --w: 90px;
    }
}

@media (min-width: 1026px) {
    h1.wave {
        --h: 64px;
        --w: 190px;
    }
    h2.wave {
        --h: 48px;
        --w: 130px;
    }
}
.wave {
    --c: var(--additionaly-background);   
    --t: 5px;
    --h: 32px;
    --w: 77px;   
    --p: 12px;
    background:
        radial-gradient(
            farthest-side at 50% calc(100% + var(--p)), 
            transparent 47%, 
            var(--c) 50% calc(50% + var(--t)),
            transparent calc(52% + var(--t))),
        radial-gradient(
            farthest-side at 50% calc(0%   - var(--p)), 
            transparent 47%, 
            var(--c) 50% calc(50% + var(--t)),
            transparent calc(52% + var(--t)));
        
    background-size:var(--w) var(--h);
    background-position:calc(var(--w)/2) calc(var(--h)/2),0px calc(var(--h)/2);
    
    margin: 30px 0;
    width: 100%;
}