.troupe-section .wave {
    padding-left: 20px;
}
.actors-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 50px;
    column-gap: 20px;
    margin: 50px 20px;
}
.actors-list__item {
    background-color: var(--background-opacity);
    border-radius: 20px;
    padding: 10px 0px;
}
.actors-list__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.actors-list__link:hover {
    color: rgba(255, 255, 255, 0.5);
}
.actors-list__link:hover .actors__image {
    transform: scale(1.08)
}
.actors__info {
    font-size: var(--second-medium-text);
    text-align: center;
    padding: 10px;
}
.actors__image {
    border-radius: 50%;
    text-align: center;
    transition: transform 0.3s ease;
}