.troupe-section .wave {
    padding-left: 20px;
}
.actors-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    padding: 20px 20px 50px 20px;
    margin: 0;
}
.actors-list__item {
    background-image: url('/img/frame.avif');
    background-position: center;
    background-size: 180% 129%;
    background-color: var(--background-opacity);
    padding: 10px 0px;
    box-shadow: 
        inset 0 0 40px rgba(255, 255, 255, 0.4),
        inset 0 0 60px rgba(255, 255, 255, 0.2);
    z-index: 3;
}
.actors-list__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.actors-list__link:hover {
    color: rgba(255, 255, 255, 0.5);
}
.actors-list__link:hover .actors__image {
    transform: scale(1.08)
}
.actors__info {
    font-size: var(--second-medium-text);
    text-align: center;
    padding: 10px 20px;
}
.actors__image {
    text-align: center;
    transition: transform 0.3s ease;
    border-radius: 50%;
    z-index: -1;
}
@media (max-width: 1250px) {
    .actors-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 950px) {
    .actors-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 650px) {
    .actors-list {
        grid-template-columns:  1fr;
    }
}