.main-footer {
    padding-bottom: 50px;
    display: grid;
    gap: 5px;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}
.info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
.info-list__item {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 10px 0px;
    padding-left: 20px;
    cursor: pointer;
}
.info-list__item:hover,
.info-list__item:hover a{
    color: var(--additionaly-background);
}
.ticket-office-list__item {
    padding: 10px 0px;
}
.main-footer .wave{
    grid-column: 1/4;
    position: absolute;
    top: 0%;
    z-index: -1;
}
.main-footer__map {
    padding-right: 20px;
    width: calc(100% - 20px);
}
@media (max-width: 767px) {
    .main-footer {
        grid-template-columns: 1fr;
    }
    .main-footer__map {
        padding-left: 20px;
    }
    .info-list {
        grid-row: 2;
    }
    .ticket-office-wrapper {
        grid-row: 4;
    }
    .main-footer .wave {
        grid-column: 1;
    }
}