.main-footer {
    padding-bottom: 50px;
    display: grid;
    gap: 5px;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    position: relative;
}
.info-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0px 20px;
}
.info-list__item {
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 10px 0px;
}
.info-list__item:first-child {
    flex-direction: column;
    align-items: normal;
    width: 100%;
}
.map{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
.map-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.map-button::before {
    position: absolute;
    inset: 0;
    content: "";
    z-index: 5;
}
.map-picture {
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
}
.info-list__item:not(:first-child):hover{
    color: var(--additionaly-background);
    cursor: pointer;
}
.ticket-office-list__item {
    padding: 10px 0px;
}
.main-footer .wave{
    grid-column: 1/4;
    position: absolute;
    top: 0%;
    z-index: -1;
    --h: 50px;
}
@media (max-width: 767px) {
    .main-footer {
        grid-template-columns: 1fr;
    }
    .info-list {
        grid-row: 2;
    }
    .ticket-office-wrapper {
        grid-row: 4;
    }
    .main-footer .wave {
        grid-column: 1;
    }
}