@import url('main-header.css'); 
@import url('main-section.css');
@import url('services.css');
@import url('about-theatre.css');
@import url('main-footer.css');
@import url('/css/actor/actor.css');
@import url('/css/collective-visit/collective-visit-section.css');
@import url('/css/drama-school/drama-school-section.css');
@import url('/css/performance/performance.css');
@import url('/css/playbill/playbill.css');
@import url('/css/repertoire/repertoire.css');
@import url('/css/reviews/reviews.css');
@import url('/css/tnt/tnt-section.css');
@import url('/css/troupe/troupe-section.css');
html {
  scroll-behavior: smooth;
}
:root {
    --main-background: #001d3d;
    --additionaly-background: #114d94;
    --button-background: #f0cb46;
    --text-body: 18px;
    --border-color: #dde8ed;
    --background-opacity: rgba(117, 152, 206, 0.2);

    --h1: 56px;
    --h2: 42px;
    --h3: 32px;
}
body {
    background-color: var(--main-background);
    color: #ffffff;
    font-size: var(--text-body);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    background-color: var(--main-background);
}
::-webkit-scrollbar-thumb {
    background-color: var(--additionaly-background);
    border-radius: 300px;
    background-clip: padding-box;
}
::-webkit-scrollbar-track {
    background-color: var(--main-background);
}
a{
    text-decoration: none;
    color: #ffffff;
}
h1 {
    padding-left: 20px;
    font-size: var(--h1);
}
h2 {
    padding-left: 20px;
    font-size: var(--h2);
}
h3 {
    margin: 0;
    font-size: var(--h3);
}
img {
    object-fit: cover;
}
ul {
    list-style: none;
}
figure {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
h1.wave {
    --h: 66px;
    --w: 176px;
}
.wave {
  --c: var(--additionaly-background);   
  --t: 5px;   
  --h: 50px;
  --w:125px; 
  --p:13px;
  background:
    radial-gradient(
        farthest-side at 50% calc(100% + var(--p)), 
        transparent 47%, 
        var(--c) 50% calc(50% + var(--t)),
        transparent calc(52% + var(--t))),
    radial-gradient(
        farthest-side at 50% calc(0%   - var(--p)), 
        transparent 47%, 
        var(--c) 50% calc(50% + var(--t)),
        transparent calc(52% + var(--t)));
    
  background-size:var(--w) var(--h);
  background-position:calc(var(--w)/2) calc(var(--h)/2),0px calc(var(--h)/2);
  
  margin: 30px 0;
  width: 100%;
}
.swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    background: white !important;
    opacity: 0.5 !important;

}

.swiper-pagination-bullet-active {
    width: 20px !important;
    height: 20px !important;
    background: #4da3ff !important;
    opacity: 1 !important;
}
.hidden {
    display: none;
}
.buy-ticket {
    background-color: var(--button-background);
    height: 60px;
    width: 180px;
    font-size: 22px;
    border: none;
    border-radius: 3px;
}
