.main-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 100;
    padding: 15px 0px;
}
.navigation-list {
    display: flex;
    align-items: center;
}
.navigation-list__item {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
.under-line-link {
    background-image: linear-gradient(#ffffff, #ffffff);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    display: inline;
    position: relative;
}
.under-line-link:hover {
    background-size: 100% 2px;
}
.under-line-link:active {
    color: var(--additionaly-background);
    background-image: linear-gradient(var(--additionaly-background), var(--additionaly-background));
}
.title {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    font-size: var(--h3);
}
.title-wrapper {
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.title-wrapper:hover{
    color: var(--additionaly-background);
}
.title-wrapper:hover svg *{
    fill: var(--additionaly-background);
}