.main-section {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}
.main-section__title {
    position: absolute;
    z-index: 10;
    font-size: 68px;
    padding: 0px 40px;
    margin-top: 150px ;
    perspective: 1000px;
    overflow: hidden;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
}
.main-section__title .letter {
    display: inline-block;
    opacity: 0;
    transform-origin: center center;
    will-change: transform, opacity, filter;
}
.line {
    display: block;
}
.letter {
    display: inline-block;
}

.main-section__image {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.main-section__link {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 40%;
    margin: 40px;
    padding: 20px;
    text-align: center;
    background-color: var(--additionaly-background);
    color: #ffffff;
    font-size: 22px;
    transition: transform 0.2s ease-in-out;
}
.main-section__link:hover {
    transform: scale(1.10);
}
.main-section__link:active {
    box-shadow: 0px 0px 40px rgba(17, 77, 148, 0.9)
}
.main-section__arrow-back {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    left: 0%;
    top: 75%;
}
.main-section__arrow-next {
    cursor: pointer;
    position: absolute;
    z-index: 10;
    right: 0%;
    top: 75%;
}
.main-section__arrow-back:active path,
.main-section__arrow-next:active path{
    stroke: var(--additionaly-background);
}
@media (max-width: 490px) {
    .main-section__title {
        font-size: 48px;
    }
}
@media (max-width: 371px) {
    .main-section__title {
        font-size: 38px;
    }
}