.services .wave {
    padding-left: 20px;
    width: calc(100% - 20px);
}
.services__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    padding: 20px;
}
.collective-visit,
.drama-school,
.tnt {
    text-align: center;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    background-color: var(--background-opacity);
    position: relative;
    overflow: hidden;
    padding: 20px;
}
.services_link {
    display: block;
}

.services_link::before {
    content: '';
    position: absolute;
    top: -300%;     
    left: -300%;       
    width: 300%;
    height: 300%;
    background: linear-gradient(135deg,  
      transparent,
      oklch(100% 0 0 / 0.3),
      transparent);
    transition: all 0.5s ease;
    pointer-events: none;
}

.services_link:hover::before {
    top: 100%;   
    left: 100%;       
}
.services_link:active {
    filter: brightness(30%);
}

@media (max-width: 767px) {
    .services__wrapper {
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
}