.drama-school-section h1 {
    word-break: break-all;
    padding-left: 20px;
}
.drama-school_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.drama-school__swiper-container {
    grid-column: 2 / 3;
    grid-row: 1 / 5;
    position: relative;
    display: flex;
    align-items: flex-end;
}
.drama-school__swiper {
    grid-column: 2/3;
    grid-row: 1/5;
    height: 100%;
    width: 100%;
}
.drama-school__arrow-back {
    cursor: pointer;
    position: absolute;
    left: 0%;
    bottom: 15%;
    z-index: 10;
}
.drama-school__arrow-next {
    cursor: pointer;
    position: absolute;
    right: 0%;
    bottom: 15%;
    z-index: 10;
}
.teatralka__image {
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.drama-school__text,
.record-drama-school {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--background-opacity);
    text-align: center;
}
.record-drama-school {
    font-size: 30px;
}
.features-list {
    grid-column: 1/3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.features-list__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 168px;
    margin: 20px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    background-color: var(--background-opacity);
    font-size: 21px;
}
.drama-school__arrow-back:active path,
.drama-school__arrow-next:active path{
    stroke: var(--additionaly-background);
}

@media (max-width: 767px) {
    .drama-school_wrapper {
        grid-template-columns: 1fr;
    }
    .drama-school__swiper-container{
        grid-column: 1;
        grid-row: 5;
    }
    .drama-school__arrow-back {
        left: 2%;
    }    
}