body {
    position: relative;
}
.playbill .wave {
    padding-left: 20px;
    width: calc(100% - 20px);
}
.dates-list {
    padding: 20px;
}
.dates-list .swiper-slide {
    overflow: visible !important;
}
.dates-list__item {
    display: block;
    border-radius: 10px;
    padding: 10px;
    margin: 0 ;
    border: 1px solid var(--border-color);
    background-color: var(--background-opacity);
    position: relative;
    cursor: pointer;
    transition: all 0.35s;
}
.dates-list .swiper-slide,
.remove-filter.swiper-slide {
    width: auto !important;
}
.remove-filter {
    margin-right: 20px;
}
.dates-list__item:hover {
    transform: translateY(-20px);
    z-index: 10;
}
.dates-list__item:active {
    filter: brightness(30%);
    z-index: 10;
}
.performances-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0px 20px;
    gap: 20px;
}
.performances-list__item {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 5px;
    text-align: center;
    align-items: center;
    font-size: 30px;
    background-color: var(--background-opacity);
    border-radius: 20px;
    padding-bottom: 7px;
    position: relative;
    overflow: hidden;
}
.performances-list__item::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.performances-list__item:hover {
    color: rgba(255, 255, 255, 0.5);
}
.playbill__title {
    grid-column: 1;
    grid-row: 2;
    padding-left: 10px;
}
.playbill__date {
    grid-column: 1;
    grid-row: 3;
    margin-right: 50%;
}
.playbill__age-limit{
    grid-column: 1;
    grid-row: 3;
    margin-left: 50%;
}
.performances-list__item .buy-ticket {
    grid-row: 2/4;
    grid-column: 2/3;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
}
.playbill__image-wrapper {
    grid-column: 1/3;
    width: 100%;
    max-height: 300px;
    border-radius: 20px;
    align-self: flex-start;
    overflow: hidden;
}
.playbill__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}
.performances-list__item:hover .playbill__image{
    transform: scale(1.1)
}
.no-js {
    display: block;
}
.hidden-modal {
    display: none;
}
.zero-performances {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 200px;
    border: 1px solid var(--border-color);
    background-color: var(--background-opacity);
    color: #ffffff;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 900px) and (max-width: 1092px) {
    .performances-list__item {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
    .playbill__date {
        grid-row: 2;
    }
    .playbill__age-limit {
        grid-row: 3;
    }
    .performances-list__item .buy-ticket {
        grid-row: 1/4;
    }
    .playbill__image {
        grid-column: 4/5;
        grid-row: 1/4;
    }
}
@media (max-width: 900px) {
    .performances-list__item {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .playbill__image {
        display: none;
    }    
}
@media (max-width: 767px) {
    .performances-list__item {
        grid-template-columns: 1fr;
        row-gap: 7px;
        justify-items: center; 
    }
    .performances-list__item .buy-ticket {
        width: 54%;
    }
    .playbill__image {
        display: none;
    }
    .playbill__title {
        font-size: 20px;
    }    
}