body {
    position: relative;
}
.dates-list {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    align-items: end;
}
.dates-list__item {
    margin: 0 ;
    padding: 20px;
    border: 1px solid var(--border-color);
    background-color: var(--background-opacity);
    position: relative;
    cursor: pointer;
    transition: all 0.35s;
}
.dates-list .swiper-slide {
    width: 70px !important;
}
.remove-filter.swiper-slide{
    width: 140px !important;
}
.dates-list__item:hover {
    top: -20px;
}
.dates-list__item:active {
    filter: brightness(30%);
}
.performances-list__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
    text-align: center;
    align-items: center;
    font-size: 30px;
    margin: 20px 50px;
    padding: 10px;
    padding-left:  10px;
    background-color: var(--background-opacity);
    border: 1px solid var(--border-color);
}
.playbill__image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}
.no-js {
    display: block;
}
.hidden-modal {
    display: none;
}
.zero-performances {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 200px;
    border: 1px solid var(--border-color);
    background-color: var(--background-opacity);
    color: #ffffff;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 900px) and (max-width: 1092px) {
    .performances-list__item {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
    .playbill__date {
        grid-row: 2;
    }
    .playbill__age-limit {
        grid-row: 3;
    }
    .performances-list__item .buy-ticket {
        grid-row: 1/4;
    }
    .playbill__image {
        grid-column: 4/5;
        grid-row: 1/4;
    }
}
@media (max-width: 900px) {
    .performances-list__item {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .playbill__image {
        display: none;
    }    
}
@media (max-width: 767px) {
    .performances-list__item {
        grid-template-columns: 1fr;
        row-gap: 7px;
        justify-items: center; 
    }
    .performances-list__item .buy-ticket {
        width: 47%;
    }
    .playbill__image {
        display: none;
    }
    .playbill__title {
        font-size: 20px;
    }    
}