.main-footer {
    display: grid;
    gap: 5px;
    align-items: center;
    grid-template-columns: 1fr;
    position: relative;
}
.main-footer h2{
    padding-left: 20px;
    width: calc(100% - 20px)
}
.info-list {
    display: grid;
    align-items: self-start;
    margin: 0;
    padding: 0px 20px;
}
.info-list__item {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px; 
    padding: 5px 0px;
}
.ticket-office-contact__item,
.info-list__item,
.info-list__item a {
    transition: color 0.3s ease;
}
.contact-description:hover {
    cursor: default !important;
    color: inherit !important;
}
.info-list__item:first-child {
    flex-direction: column;
    align-items: normal;
    width: 100%;
    grid-column: 1/5;
    text-align: center;
}
.map{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    cursor: pointer;
}
.map-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
    font-size: var(--small-text);
    font-weight: bold;
    transition: all 0.2s ease;
}
.map::after {
    position: absolute;
    inset: 0;
    content: "";
    z-index: 5;
}
.map:hover .map-button{
    transform: scale(1.1);
    color: var(--additionaly-background);
    border: 3px solid var(--additionaly-background);
}
.map-picture {
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.8;
}
.info-list__item:not(:first-child):hover,
.info-list__item:not(:first-child):hover a{
    color: var(--additionaly-background);
    cursor: pointer;
}
.ticket-office-contact__item:hover {
    color: var(--additionaly-background) !important;
    cursor: pointer !important;
}
.ticket-office-wrapper {
    padding: 0px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    text-align: center;
}
.watermark {
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgba(255,255,255, 0.07);
  font-size: clamp(60px, 22.6vw, 190px);
  z-index: 0;
  pointer-events: none;
  user-select: none;
}
.ticket-office-list, 
.ticket-office-price {
    padding: 0;
    margin: 20px 0px;
}
.ticket-office-price__item,
.ticket-office-list__item {
    padding: 5px 0px;
}
.ticket-office-contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.ticket-office-contact__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 0px;
    cursor: pointer;
}
.ticket-office-contact__item:first-child:hover {
    color: inherit; 
    cursor: default;
}
.ticket-office-contact__item:hover {
    color: var(--additionaly-background)
}
.google-policies {
    grid-column: 1/3;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--small-text);
}
.google-policies__item:first-child{
    margin-right: 20px;
}
@media (max-width: 800px) {
    .info-list__item:first-child {
        grid-column: 1/3;
    }
    .main-telephone {
        grid-row: 3;
    }
    .ticket-office-contact {
        grid-row: 3;
    }
}
@media (max-width: 500px) {
    .info-list__item:first-child {
        grid-column: 1/1;
    }
    .ticket-office-wrapper {
        grid-template-columns: 1fr;
    }
    .ticket-office-contact {
        grid-row: 5;
    }
    .mail {
        grid-row: 7;
    }
    .vk {
        grid-row: 9;
    }
    .watermark {
        top: 40%;
        height: auto;
    }
}