.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 15px 20px;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
}
.main-navigation {
    display: flex;
    align-items: center;
}
.main-navigation__toggle {
    display: none;
    background-color: inherit;
    border: none;
}
.navigation-list {
    display: flex;
    align-items: center;
    padding: 0;
}
.navigation-list__item {
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    margin: 0px 10px;
    font-size: var(--second-medium-text);
}
.under-line-link {
    background-image: linear-gradient(#ffffff, #ffffff);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    display: inline;
    width: fit-content;
    height: fit-content;
    position: relative;
}
.under-line-link:hover {
    background-size: 100% 2px;
}
.active-link {
    background-size: 100% 2px;
}
.under-line-link:active {
    color: var(--additionaly-background);
    background-image: linear-gradient(var(--additionaly-background), var(--additionaly-background));
}
.title {
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    font-size: var(--large-text);
}
.title-wrapper {
    display: flex;
    align-items: center;
}
.title-wrapper,
.title-wrapper svg *{
    transition: all 0.3s ease;    
}
.title-wrapper:hover{
    color: var(--additionaly-background);
}
.title-wrapper:hover svg *{
    fill: var(--additionaly-background);
}
@media (max-width: 1190px) {
    .close {
        display: none;
    }
    body.disable-scroll .main-header {
        background-color: var(--main-background);
    }
    .main-navigation.opened {
        position: fixed; 
        flex-direction: column;
        align-content: center;
        width: 100%;
        inset: 0;
        top: 80px;
        padding: 0;
        margin: 0;
        background-color: var(--main-background);
        height: 100vh;
        z-index: 1000;
    }
    .main-navigation.opened::before {
        content: '';
        position: absolute;
        inset: 0;
        background-image: url(/svg/harlequin.svg);
        background-size: 75px 75px;
        background-repeat: space;
        opacity: 0.3; 
        z-index: -1;
    }
    .navigation-list {
        flex-direction: column;
    }
    .navigation-list__item {
        padding: 10px;
    }
    .main-navigation__toggle {
        display: block;
        cursor: pointer;
    }
}